<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">
    <item android:id="@+id/dashboard" android:title="Home"
        android:icon="@drawable/ic_home_black_24dp">
    </item>

    <item android:id="@+id/fav" android:title="Favourites"
        android:icon="@drawable/ic_favorite_black_24dp">
    </item>

    <item android:id="@+id/recent" android:title="Recent"
        android:icon="@drawable/ic_home_black_24dp"></item>

    <item android:id="@+id/rateapp" android:title="Rate App"
        android:icon="@drawable/ic_star_black_24dp"></item>

    <item android:id="@+id/shareapp" android:title="Share App"
        android:icon="@drawable/ic_share_black_24dp"></item>

</menu>